<div class="Select">
    <div class="flex flex-wrap gap-xs">
        <label for="{{ id | default(name) }}" {{ showLabel ? '' : 'class="sr-only"' }}>{{ label }}</label>
        {% if not required %}
            <span class="Select__optional-marker text-xs uppercase text-gray-500 font-normal">
                Optional
            </span>
        {% endif %}
    </div>
    <div class="Select__inner relative">
        <select
            id="{{ id | default(name) }}"
            name="{{ name }}"
            {{ attributes | raw }}
        >
            {{ children | raw }}
        </select>
        <Icon :name="icon | default('caret-down')" class="Select__icon" />
    </div>
</div>