<div class="Input">
    <div class="flex flex-wrap gap-xs">
        <label for="{{ id | default(name) }}" {{ showLabel ? '' : 'class="sr-only"' }}>{{ label }}</label>
        {% if not required %}
            <span class="Input__optional-marker text-xs uppercase text-gray-500 font-normal">
                Optional
            </span>
        {% endif %}
    </div>
    {% if type == "textarea" %}
        <textarea
            id="{{ id | default(name) }}"
            name="{{ name }}"
            {{ attributes | raw }}
        ></textarea>
    {% else %}
        <input
            id="{{ id | default(name) }}"
            name="{{ name }}"
            type="{{ type }}"
            {{ attributes | raw }}
        >
    {% endif %}
</div>