<div class="Input">
    <label for="{{ id | default(name) }}" {{ showLabel ? '' : 'class="sr-only"' }}>{{ label }}</label>
    {% if type == "textarea" %}
        <textarea
            id="{{ id | default(name) }}"
            name="{{ name }}"
            {{ attributes | raw }}
        ></textarea>
    {% else %}
        <input
            id="{{ id | default(name) }}"
            name="{{ name }}"
            type="{{ type }}"
            {{ attributes | raw }}
        >
    {% endif %}
</div>