{% set id = id | default(name) %}

<div class="{{ type == "radio" ? "Radio" : "Checkbox" }}">
    <input
        type="{{ type == "radio" ? "radio" : "checkbox" }}"
        name="{{ name }}"
        id="{{ id }}"
        {{ checked ? 'checked' : '' }}
        {{ attributes | raw }}
    >
    <label for="{{ id }}">{{ label }}</label>
</div>