{% set id = id | default(name) %}

<div class="custom-checkbox">
    <input
        type="checkbox"
        name="{{ name }}"
        id="{{ id }}"
        {{ checked ? 'checked' : '' }}
    >
    <label for="{{ id }}">{{ label }}</label>
</div>