{% set id = id | default(name) %}

<div class="{{ type == "radio" ? "Radio" : "Checkbox" }}" {{ attributes | raw }}>
    <input
        type="{{ type == "radio" ? "radio" : "checkbox" }}"
        name="{{ name }}"
        id="{{ id }}"
        {{ checked ? 'checked' : '' }}
        x-data
        @change="$dispatch('checkbox-change', $event.target.checked)"
    >
    <label for="{{ id }}">{{ label }}</label>
</div>