<div
    class="Marquee {{ class }}"
    data-pause-on-hover="{{ pauseOnHover ? 'true' : 'false' }}"
    {{ styles | raw }}
    {{ attributes | raw }}
>
    <ul class="Marquee__content">
        {{ children | raw }}
    </ul>

    <ul class="Marquee__content" aria-hidden="true">
        {{ children | raw }}
    </ul>
</div>