{% if avatars %}
    <div class="AvatarStack max-w-md flex flex-wrap items-center gap-1">
        {% for member in avatars %}
            {% set tooltipContent %}
                <strong>{{ member.name }}</strong>
            {% endset %}

            <div
                x-data
                @load.window="tippy($refs.image, { content: `{{ tooltipContent | trim }}`, allowHTML: true })"
                class="AvatarStack__image rounded-full w-xl h-xl"
            >
                {% if member.image %}
                <img
                    x-ref="image"
                    class="w-full h-auto rounded-full aspect-square object-cover object-center"
                    src="{{ member.image }}"
                    width="80"
                    height="80"
                    alt="Profile photo of {{ member.name }}"
                >
                {% else %}
                    <div
                        x-ref="image"
                        class="bg-primary font-bold rounded-full w-full h-auto aspect-square flex items-center justify-center"
                    >
                        {{ member.initials }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}